<form ngForm [formGroup]="form">

  <mat-toolbar color="primary">
    <button mat-icon-button type="button" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
    <span *ngIf="!isNewUser()">Edit User <strong>{{user.name}}</strong></span>
    <span *ngIf="isNewUser()">Add User</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button type="button" (click)="saveAndBack()" [disabled]="form.invalid"><mat-icon>save</mat-icon></button>
  </mat-toolbar>

  <div class="mat-app-background content mat-elevation-z8">

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <!--suppress HtmlUnknownAttribute -->
          <input cdkFocusInitial matInput placeholder="Name" formControlName="name">
          <mat-error *ngIf="form.get('name').invalid">Name is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email address for notifications (optional)" formControlName="notificationEmailAddress">
          <mat-error *ngIf="form.get('notificationEmailAddress').invalid">Email address format is required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="icon-col"><mat-icon>phone</mat-icon></div>
      <div class="col"><h4>Phone Contacts</h4></div>
      <div class="action-col">
        <button mat-icon-button color="primary" type="button" matTooltip="Add Phone Contact"
                (click)="addPhoneContact()">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </div>
    </div>
    <div *ngFor="let fg of phoneContactsFA.controls; index as i" class="row" [formGroup]="$any(fg)">
      <div class="col">
        <mat-form-field floatLabel="auto">
          <mat-select placeholder="Phone type" formControlName="type">
            <mat-option *ngFor="let type of phoneContactTypes" [value]="type">{{ type }}</mat-option>
          </mat-select>
          <mat-error *ngIf="fg.get('type').invalid">Phone type is required</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <input matInput type="tel" placeholder="Phone number" formControlName="number">
          <mat-error *ngIf="fg.get('number').invalid">Int. phone number required</mat-error>
        </mat-form-field>
      </div>
      <div class="action-col">
        <button mat-icon-button color="primary" class="small-button" type="button" (click)="deletePhoneContact(i)">
            <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="icon-col"><mat-icon>email</mat-icon></div>
      <div class="col"><h4>Email Contacts</h4></div>
      <div class="action-col">
        <button mat-icon-button color="primary" type="button" matTooltip="Add Email Contact"
                (click)="addEmailContact()">
          <mat-icon color="primary">add</mat-icon>
        </button>
      </div>
    </div>
    <div *ngFor="let fg of emailContactsFA.controls; index as i" class="row" [formGroup]="$any(fg)">
      <div class="col">
        <mat-form-field floatLabel="auto">
          <mat-select placeholder="Email type" formControlName="type">
            <mat-option *ngFor="let type of emailContactTypes" [value]="type">{{ type }}</mat-option>
          </mat-select>
          <mat-error *ngIf="fg.get('type').invalid">Email type is required</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <input matInput type="email" placeholder="Email address" formControlName="emailAddress">
          <mat-error *ngIf="fg.get('emailAddress').invalid">Email address required</mat-error>
        </mat-form-field>
      </div>
      <div class="action-col">
        <button mat-icon-button color="primary" class="small-button" type="button" (click)="deleteEmailContact(i)">
            <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

</form>
