<form class="responsive-padding">
  <div class="row">
    <mat-form-field class="full-width">
      <textarea matInput [formControl]="newNoteTextArea" placeholder="Post new note" cdkTextareaAutosize></textarea>
    </mat-form-field>

    <input type="file" accept="image/*" (change)="fileSelected($event.target.files[0])" hidden #fileSelect>
    <button mat-icon-button type="button" (click)="fileSelect.click()" matTooltip="Attach image">
      <mat-icon>camera_alt</mat-icon>
    </button>

    <button mat-icon-button type="button" (click)="postNote()" [disabled]="!newNoteTextArea.value" matTooltip="Submit">
      <mat-icon>send</mat-icon>
    </button>
  </div>

  <div class="row" *ngIf="imageSrc!==null">
    <mat-card>
      <mat-card-title>
        <button mat-icon-button type="button" (click)="removeImage()" matTooltip="Remove">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content>
        <img class="note-image" [src]="imageSrc" (load)="imageLoaded(imageElement, $event)" #imageElement/>
      </mat-card-content>
    </mat-card>
  </div>
</form>

<mat-list *ngFor="let note of notes" class="responsive-padding">
  <mat-card>
    <mat-card-subtitle>
      {{note.instant|date:'medium'}}&nbsp;&nbsp;(#{{note.number}})
      <button mat-icon-button [matMenuTriggerFor]="deleteMenu">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #deleteMenu="matMenu" xPosition="before">
        <div class="menu-entry">Delete this note?</div>
        <button class="menu-entry" mat-raised-button (click)="deleteNote(note.number)">
          <mat-icon>check</mat-icon>
          Delete
        </button>
      </mat-menu>
    </mat-card-subtitle>
    <mat-card-content>
      <p class="multiline">{{note.text}}</p>
      <img *ngIf="note.media" class="note-image" [src]="'data:'+note.media[0].mediaType+';base64,'+note.media[0].content">
    </mat-card-content>
  </mat-card>
</mat-list>

