<mat-list *ngFor="let follower of followers">
  <mat-list-item>
    <span class="name">{{follower.userName}}</span>
    <span>since {{follower.createdInstant|date}}</span>
  </mat-list-item>
</mat-list>
