<div class="mat-elevation-z8">

  <mat-toolbar color="primary">
    <span>User Overview</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button routerLink="/add-user" matTooltip="Add user"><mat-icon>person_add</mat-icon></button>
    <button mat-icon-button routerLink="/management" matTooltip="Management"><mat-icon>settings</mat-icon></button>
    <button mat-icon-button (click)="logout()" matTooltip="Logout"><mat-icon>logout</mat-icon></button>
  </mat-toolbar>

  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">User</th>
      <td mat-cell *matCellDef="let user">
        <span>
          <a mat-flat-button class="name-link" routerLink="/user-home/{{user.id}}">{{user.name}}</a>
        </span>
        <span *ngIf="user.phoneContacts?.length > 1">
          <mat-icon>phone</mat-icon> {{user.phoneContacts.length}} contacts
        </span>
        <span *ngIf="user.phoneContacts?.length === 1">
          <mat-icon>phone</mat-icon><sub>{{user.phoneContacts[0].type|lowercase}}</sub> {{user.phoneContacts[0].number}}
        </span>
        <span *ngIf="user.emailContacts?.length > 1">
          <mat-icon>email</mat-icon> {{user.emailContacts.length}} contacts
        </span>
        <span *ngIf="user.emailContacts?.length === 1">
          <mat-icon>email</mat-icon><sub>{{user.emailContacts[0].type|lowercase}}</sub> {{user.emailContacts[0].emailAddress}}
        </span>
        <span *ngIf="user.followerCount > 0">
          {{user.followerCount}} followers
        </span>
        <span *ngIf="user.totalWordCount > 0">
          {{user.totalWordCount}} total words
        </span>
      </td>
    </ng-container>

    <!-- action column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button routerLink="/edit-user/{{row.id}}"><mat-icon color="primary">edit</mat-icon></button>
        <button mat-icon-button [matMenuTriggerFor]="deleteMenu"><mat-icon color="primary">delete</mat-icon></button>
        <mat-menu #deleteMenu="matMenu" xPosition="before">
          <div class="menu-entry">Delete user <strong>{{row.name}}</strong> ?</div>
          <button class="menu-entry" mat-raised-button (click)="deleteUser(row)"><mat-icon>check</mat-icon> Delete</button>
        </mat-menu>
      </td>
    </ng-container>
  </table>

  <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100, 250]"></mat-paginator>

</div>
