.toolbar-spacer {
  flex: auto;
}

.mat-header-cell:first-child, .mat-cell:first-child {
  padding-left: clamp(4px, 8vw - 35px, 24px);
}

.mat-header-cell:last-child, .mat-cell:last-child {
  padding-right: clamp(4px, 8vw - 35px, 24px);
}

.full-width-table {
  width: 100%;
}

.mat-column-action {
  width: 64px;
}

.mat-column-data {
  padding-top: 8px;
  padding-bottom: 8px;
  width: auto;
}

.mat-column-action .mat-icon-button {
  width: 32px;
}

.mat-column-data span {
  margin: 4px 15px 4px 0;
  vertical-align: center;
  display: inline-block;
}

.mat-column-data span:first-child {
  font-weight: bold;
  min-width: 55px;
}

.mat-column-data span mat-icon {
  font-size: 16px;
  text-align: right;
  height: 16px;
  vertical-align: text-top;
}

.menu-entry {
  margin: 8px 15px;
}

.name-link {
  font-weight: bold;
  text-align: start;
  padding: 0;
}