<mat-toolbar color="primary">
  <span>Board Demo App</span>
</mat-toolbar>

<mat-list class="responsive-padding">
  <mat-card>
    <mat-card-title>Google Login</mat-card-title>
    <mat-card-content>You can sign in with your Google account.</mat-card-content>
    <mat-card-actions>
      <button (click)="loginWithGoogle()" mat-raised-button class="google-login-btn">
        <img src="/assets/google-G.svg"/> Google
      </button>
    </mat-card-actions>
  </mat-card>
</mat-list>
