<mat-list *ngFor="let followee of followees; index as index">
  <div class="list-entry responsive-padding">
    <div class="header">
      <span class="name">{{followee.userName}}</span>
      <span class="notes-available">
        <ng-container *ngIf="followee.newNoteAvailable">
          <button mat-button *ngIf="!isNotesExpanded(followee.userId)"
                  (click)="loadNotes(followee.userId, followee.firstUnreadNoteNumber)">
            New notes <mat-icon>expand_more</mat-icon>
          </button>
          <button mat-button *ngIf="isNotesExpanded(followee.userId)" (click)="closeNotes(followee.userId, index)">
            Notes read <mat-icon>expand_less</mat-icon>
          </button>
        </ng-container>
      </span>
      <span class="end">since {{followee.createdInstant|date}}</span>
      <button mat-icon-button color="primary" matTooltip="Unfollow" (click)="unfollow(followee)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <mat-list *ngFor="let note of notes[followee.userId]">
      <mat-card>
        <mat-card-subtitle>{{note.instant|date:'medium'}}&nbsp;&nbsp;(#{{note.number}})</mat-card-subtitle>
        <mat-card-content>
          <p class="multiline">{{note.text}}</p>
          <img *ngIf="note.media" class="note-image" [src]="'data:'+note.media[0].mediaType+';base64,'+note.media[0].content">
        </mat-card-content>
      </mat-card>
    </mat-list>
  </div>
</mat-list>