<mat-toolbar color="primary">
  <a mat-icon-button type="button" (click)="goBack()"><mat-icon>arrow_back</mat-icon></a>
  <span>Board of <strong>{{userName}}</strong></span>
  <span class="toolbar-spacer"></span>
  <a mat-icon-button routerLink="/edit-user/{{userId}}"><mat-icon>edit</mat-icon></a>
  <button mat-icon-button (click)="logout()" matTooltip="Logout"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="notes" replaceUrl [active]="isActive('notes')">My Notes</a>
  <a mat-tab-link routerLink="followees" replaceUrl [active]="isActive('followees')">Followees</a>
  <a mat-tab-link routerLink="followers" replaceUrl [active]="isActive('followers')">Followers</a>
  <a mat-tab-link routerLink="others" replaceUrl [active]="isActive('others')">Other Users</a>
</nav>
<div class="mat-app-background mat-elevation-z8">
  <router-outlet></router-outlet>
</div>
