<mat-toolbar color="primary">
  <a mat-icon-button type="button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span>Board Management - App Version {{version}}</span>
</mat-toolbar>

<mat-list class="responsive-padding">

  <mat-card>
    <mat-card-subtitle>Data import/export</mat-card-subtitle>
    <mat-card-content>
      <p><a href="/management/data">Download data</a></p>
      <p>Upload board data file:</p>
      <input type="file" accept="application/zip" (change)="fileSelected($event.target.files[0])" hidden #fileUpload>
      <button mat-raised-button (click)="fileUpload.click()">Select File...</button> {{selectedFile?.name}}
      <p>
        <button mat-raised-button color="accent" [disabled]="!selectedFile" (click)="upload()">Upload</button>
        <b [hidden]="!selectedFile"> Note: All existing data will be overridden!</b>
        <span [hidden]="!uploading"> Uploading...</span>
      </p>
    </mat-card-content>
  </mat-card>

</mat-list>
